---
name: Update Flake Lock
'on':
  schedule:
    - cron: 0 21 * * 2,4
  workflow_dispatch: {}
jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    outputs:
      pr: ${{ steps.pr.outputs.pull-request-url }}
      branch: ${{ steps.pr.outputs.pull-request-branch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup Git
        run: |-
          git config --local user.name  "github-actions[bot]"
          git config --local user.email  "github-actions[bot]@users.noreply.github.com"
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Update Lockfile
        id: pr
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-assignees: rohan-datar
          pr-labels: |-
            dependencies
            automated
          pr-title: 'flake: update inputs'
          token: ${{ secrets.FLAKE_UPDATE_TOKEN }}

  check:
    name: Check Flake
    needs: update-flake-lock
    uses: ./.github/workflows/check.yml
    with:
      ref: ${{ needs.update-lockfile.outputs.branch }}

  merge:
    name: Merge Pull Request
    needs: [update-flake-lock, check]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Merge Pull Request
        run: gh pr merge --rebase --auto --delete-branch "$PR"
        env:
          GH_TOKEN: ${{ secrets.FLAKE_UPDATE_TOKEN }}
          PR: ${{ needs.update-lockfile.outputs.pr }}
